<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Nuevo Producto</title>
</head>

<body>
  <h1>Crear Nuevo Producto</h1>
  <form action="/api/admin/create" method="POST" enctype="multipart/form-data">
    <!-- Campos del formulario -->
    <label for="title">Nombre:</label>
    <input type="text" name="title" id="title" required><br>

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price" required><br>

    <label for="description">Descripción:</label>
    <textarea name="description" id="description" rows="4" required></textarea><br>

    <label for="brandId">ID de Marca:</label>
    <input type="number" name="brandId" id="brandId" required><br>

    <label for="categoryId">ID de Categoría:</label>
    <input type="number" name="categoryId" id="categoryId" required><br>

    <label for="stock">Stock:</label>
    <input type="number" name="stock" id="stock" required><br>

    <label for="offer">Oferta:</label>
    <input type="checkbox" name="offer" id="offer"><br>

    <label for="visible">Visible:</label>
    <input type="checkbox" name="visible" id="visible"><br>

    <!-- Campo para cargar imágenes -->
    <label for="imageFiles">Seleccionar imágenes:</label>
    <input type="file" name="imageFiles" id="imageFiles" multiple accept="image/*">

    <!-- Botón para enviar el formulario -->
    <input type="submit" value="Crear Producto">
  </form>
</body>

</html>